@charset "UTF-8";

/*
	Nome: Estilo da Home 
	Data: 22/01/2017
	Descrição:  Versão inicial. 
	Versão: 0.1
	Autor: Tamires
	Autor URI:  www.villagioipanema1.com.br
*/

			*{
				margin: 0;
				padding:0;
				
			}
			a,h2,h3,h1{
				font-family: 'Libre Baskerville', sans-serif;
			}

			.menu-principal{
				height: 70px;
				width: 100%;
				background: rgb(151,139,115);
				position: fixed;
				z-index:2;
				top:0;
				right: 0;
				left:0;
			}
			.menu-principal ul{
				list-style:none;
				font-size: 26px;
				margin: 30px 30px 25px 50px;			
				float: right;
			}
			.menu-principal ul li{
				display: inline;
				color: #fff;
				border-right: 3px solid yellow;
				padding-right: 5px;
			}
			.menu-principal ul li a{
				color: #fff;
				text-decoration: none;
			}			
			.menu-principal img{
				width: 97px;
				margin-left: 0px;
			}
			.cabecalho {
				margin-top: 70px;
				margin-bottom: 30px
			}
			.cabecalho img{
				margin: 0 auto;	
				text-align: center;	
				display: block;
				width: 100%;
			}

			.controlando-menu {
				margin: 0px;
				display: inline;
			}
			main {
				
			}
			main h1{
				background: rgb(250,150,120);
				text-align: center;
				padding-top: 0px;
				margin-bottom: 0px;
				padding-top: 15px;

			}
			main p{
				background: rgb(250,150,120);
				margin-top: 0px;
				font-size: 18px;	
				padding:50px;
				margin:auto auto;
				text-align: justify;
				font-family: 'Libre Baskerville', serif;
			}

			section {
				margin: 15px;
				background: rgb(193,170,132);
				width: 75%;
				float: left;
			}
			section h2{
				text-align: center;
			}
			section h3{
				text-align: center;
				padding-top: 30px;
				padding-bottom: 20px;
			}	
			.estrutura {
				background: #90a4ae;
				margin: 0px;
			}

			.noticias {
				background:#fff59d;
				margin: 2%;
				border: 3px solid #cbc26d;
				border-radius: 10px;
				
			}
			article h3 {
				padding: 5px;
			}
			.noticias img {
				display: block;
				width: 70%;
				margin: 0px auto;
			}
			.noticias p {
				padding: 0% 5%;
				text-align: justify;
				font-family: 'Libre Baskerville', serif;
			}
			.noticias a {
				display: inline;
				text-align: center;
				font-family: 'Libre Baskerville', serif;
			}
			.noticias a:hover{
				color: yellow;
				background: black;
			}

			.video {
				width: 100%; 
				height: auto; 
				background:#fff59d;
				margin: 2%;
				border: 3px solid #cbc26d;
				border-radius: 10px;
				
			}
			article h3 {
				padding: 5px;
			
			}

			/*article video {

				height: auto; 
				background:#fff59d;
				margin: 5%;
				border: 3px solid #cbc26d;
				border-radius: 10px;
			} */

			.eventos {
				background:#fff59d;
				margin: 2%;
				border: 3px solid #cbc26d;
				border-radius: 10px;
				
			}
			article h3 {
				padding: 5px;
			}
			.eventos img {
				display: block;
				width: 70%;
				margin: 0px auto;
			}
			.eventos p {
				padding: 0% 5%;
				text-align: justify;
				font-family: 'Libre Baskerville', serif;
			}

			.localizacao {
				background:#fff59d;
				margin: 2%;
				border: 3px solid #cbc26d;
				border-radius: 10px;
			}

			
			
			.contato{
				background:rgb(250,150,120);
				margin: 2%;
				border: 3px solid #c75b39;
				border-radius: 10px;
			}
				
			.contato p {
				padding: 0% 5%;
				text-align: justify;
				font-family: 'Libre Baskerville', serif;
			}
			.form-contato{
				width: 50%;
				margin: 30px auto;
				display: block;
				position: center;
			}
			.form-contato .bloco{
				width: 46%;
				float: left;
				padding:10px;
			}

			.form-contato .bloco.parte-um{
				
			}			
			.form-contato .bloco.parte-dois{
				
			}
			.form-contato .bloco input,.form-contato .bloco textarea {
				width: 100%;
				padding: 12px 20px;
				margin: 8px 0;
				box-sizing: border-box;
				border-radius: 4px;
			}
			.contato h2{
				padding: 5px;
				color: black;
				font-size: 24px;
				
			}
			.form-contato .enviar{
				background: green;
				width: 100%;
				display: block;
				border:0;
				height: 60px;
				color: #fff;
				font-size: 24px;
			}
			.form-contato .enviar:hover{
				background: #fff;
				font-size: 26px;
				color: green;
			}
			.contato img{
				display: block;
				margin: 0 auto;
			}

			aside {
				float: right;
				width: 23%;
			}

			.enquete {

			}

			
			.rodapePrincipal{
				text-align: center;
				display: inline;
								
			}

			h6 {
				font-family: 'Indie Flower',cursive;
				
			
			}
